parameters:

    project_name:
    project_name_slug:

    database_host:
    database_port:
    database_name:
    database_user:
    database_password:

    secret:            ThisTokenIsNotSoSecretChangeIt

    media.host:
    media.username:
    media.password:
    media.root: /media/
    media.baseurl: 'http://media.mondomaine.fr'

    mailgun.key:
    mailgun.domain: