<table>
    <tbody>
    <tr>
        <td>Prénom</td>
        <td>{{ contactForm.firstname }}</td>
    </tr>
    <tr>
        <td>Nom</td>
        <td>{{ contactForm.lastname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ contactForm.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{{ contactForm.message | nl2br }}</td>
    </tr>
    </tbody>
</table>