<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metas %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% stylesheets
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets
    filter="scssphp" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {# Ajouter des .css ou du css dans une vue #}
    {% block stylesheets %}{% endblock %}

</head>

<body>

{% block body %}{% endblock %}

{% javascripts %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{# Ajouter des .js dans une vue #}
{% block javascripts %}{% endblock %}

{# Ajouter du js dans une vue #}
{% block javascript %}{% endblock %}

</body>
</html>