<td>
    <ul class="wh-list-buttons left">
        <li>
            <a href="#" class="btn btn-danger btn-xs" data-btn-remove="true">
                <i class="fa fa-trash"></i>
            </a>
        </li>
    </ul>
</td>
<td>
    {{ form_widget(form.position) }}
    {{ form_widget(form.file) }}
</td>
